.middle-container {
    /* height: 678px; */
}

.middle-wrap {
    background-image: url("../pictures/mobile-mid.png");
    background-color: #000000; 
    width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center; 
    height: 100%;  
    
}

.middleText-container {
    padding: 36px 14px;
    display: grid;
}

.middleText-header {
    margin-bottom: 44px;
    color: white;
}

.middleText-list {
    margin-left: 16px;
    list-style: circle;
}

.middleText-content {
    margin-bottom: 39px;
    color: white;
}

.middleText-subHeader {
    margin: 24px 0 35px 0;
}

.middleBox {

}

@media (min-width: 768px) {
    .middle-wrap {
        background-image: url("../pictures/middle.png");     
    }

    .middleText-container {
        grid-template-columns: 1fr 1fr;
    }

    .middleBox {
        padding: 0 20px;
    }

    .middleText-list {
        margin-left: 23px;
    }
}

@media (min-width: 1024px) {
    .middleText-container {
        padding: 83px 20px;
        max-width: 1038px;
        margin: auto;
    }
    
}
